{% extends 'admin.html.twig' %}

{% block title %}Liste des agents{% endblock %}

{% block stylesheets %}
<!-- DataTables -->
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('ressources/vendor/admin/assets/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
{{ parent() }}
{% endblock %}

{% block body %}

    <div class="content">
      <div class="">
        <div class="page-header-title">
          <h4 class="page-title">Liste des agents</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-body">
                <!-- Bouton -->
                <div class="row bouton">
                  <div class="col-sm-4 col-sm-offset-8 text-right">
                    <a href="{{ path('admin_agent_new')}}">
                      <button type="button" class="btn btn-primary">Ajouter un nouvel agent</button>
                    </a>
                  </div>
                </div>
                <!-- \Bouton -->
                <!-- Message -->
                {% for flash_message in app.session.flashBag.get('notice') %}
                  {% if flash_message %}
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
                      <div class="alert alert-success alert-dismissible fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <a href="#" class="alert-link">NOTIFICATION :</a> {{ flash_message }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
                <!-- \Message -->
                <!-- Tableau -->
                <table id="datatable-buttons" class="table table-striped table-bordered">
                  <thead>
                    <tr class="text-center">
                      <td>N°</td>
                      <td>MATRICULES</td>
                      <td>CNI</td>
                      <td>NOM & PRENOMS</td>
                      <td>SEXE</td>
                      <td>SERVICES</td>
                      <td>FONCTIONS</td>
                      <td>CONTACTS</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set i = 0 %}
                    {% for agent in agents %}
                        {% set i = i + 1 %}
                        <tr>
                          <td class="text-right">{{ i }}</td>
                          <td class="text-center"><a href="{{ path('admin_agent_show', { 'slug': agent.slug }) }}" title="Plus d'info">{{ agent.matricule }}</a></td>
                          <td class="text-center">{{ agent.cni }}</td>
                          <td class="text-left">{{ agent.nom }} {{ agent.prenoms }}</td>
                          <td class="text-center">{{ agent.sexe }}</td>
                          <td class="text-left">{{ agent.service|capitalize }}</td>
                          <td class="text-left">{{ agent.fonction|capitalize }}</td>
                          <td class="text-right">{{ agent.contact }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- \Tableau -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <!-- Datatables-->
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
        <script src="{{ asset('ressources/vendor/admin/assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{ asset('ressources/vendor/admin/assets/pages/datatables.init.js')}}"></script>

        <script src="{{ asset('ressources/vendor/admin/assets/js/app.js')}}"></script>
{% endblock %}
