{% extends 'base.html.twig' %}

{% block body %}
    <h1>Avatar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avatar.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ avatar.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ avatar.alt }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if avatar.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('avatar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('avatar_edit', { 'id': avatar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
