{% extends 'base.html.twig' %}

{% block body %}
    <h1>Echelon</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ echelon.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ echelon.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if echelon.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ echelon.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ echelon.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ echelon.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ echelon.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ echelon.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_echelon_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_echelon_edit', { 'id': echelon.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
