{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rechagent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rechagent.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ rechagent.matricule }}</td>
            </tr>
            <tr>
                <th>Pass</th>
                <td>{{ rechagent.pass }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rechagent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rechagent_edit', { 'id': rechagent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
